
.ct-ft-icon-pausebtn-st:before { content: '\e8b4'; } /* '' */
.ct-ft-icon-playbtn-fi:before { content: '\e8b5'; } /* '' */
.ct-ft-icon-playbtn-st:before { content: '\e8b6'; } /* '' */
.ct-ft-icon-restartbtn-fi:before { content: '\e8b7'; } /* '' */
.ct-ft-icon-restartbtn-st:before { content: '\e8b8'; } /* '' */
.ct-ft-icon-restartbtn-thin:before { content: '\e8b9'; } /* '' */
.ct-ft-icon-speaker-fi:before { content: '\e8ba'; } /* '' */
.ct-ft-icon-speaker-st:before { content: '\e8bb'; } /* '' */
.ct-ft-icon-pausebtn-fi:before { content: '\e8bc'; } /* '' */