@font-face {
  font-family: 'fontello-classting';
  src: url('/assets/fonts/fontello-classting/fontello.eot?10858400');
  src: url('/assets/fonts/fontello-classting/fontello.eot?10858400#iefix') format('embedded-opentype'),
       url('/assets/fonts/fontello-classting/fontello.woff2?10858400') format('woff2'),
       url('/assets/fonts/fontello-classting/fontello.woff?10858400') format('woff'),
       url('/assets/fonts/fontello-classting/fontello.ttf?10858400') format('truetype'),
       url('/assets/fonts/fontello-classting/fontello.svg?10858400#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10858400#fontello') format('svg');
  }
}
*/
 
 [class^="ct-ft-icon-"]:before, [class*=" ct-ft-icon-"]:before {
  font-family: "fontello-classting";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ct-ft-icon-pausebtn-st:before { content: '\e8b4'; } /* '' */
.ct-ft-icon-playbtn-fi:before { content: '\e8b5'; } /* '' */
.ct-ft-icon-playbtn-st:before { content: '\e8b6'; } /* '' */
.ct-ft-icon-restartbtn-fi:before { content: '\e8b7'; } /* '' */
.ct-ft-icon-restartbtn-st:before { content: '\e8b8'; } /* '' */
.ct-ft-icon-restartbtn-thin:before { content: '\e8b9'; } /* '' */
.ct-ft-icon-speaker-fi:before { content: '\e8ba'; } /* '' */
.ct-ft-icon-speaker-st:before { content: '\e8bb'; } /* '' */
.ct-ft-icon-pausebtn-fi:before { content: '\e8bc'; } /* '' */
